# Report

In [1]:
import pandas as pd
import numpy as np

## Data cleaning

In [2]:
df2002_2018=pd.read_csv('data/2002-2018-property-sales-data.csv')
df_2019=pd.read_csv('data/2019-property-sales-data.csv')
df_2020=pd.read_csv('data/2020-property-sales-data.csv')
df_2021=pd.read_csv('data/2021-property-sales-data.csv')
df_2022=pd.read_csv('data/2022-property-sales-data.csv')

In [3]:
df2002_2018['covid_period']='no'
df_2019['covid_period']='no'
df_2020['covid_period']='yes'
df_2021['covid_period']='yes'
df_2022['covid_period']='yes'

In [4]:
combined_df = pd.concat([df2002_2018, df_2019, df_2020, df_2021, df_2022], ignore_index=True)
combined_df.columns

Index(['PropType', 'Taxkey', 'Address', 'CondoProject', 'District', 'Nbhd',
       'Style', 'Extwall', 'Stories', 'Year_Built', 'Nr_of_rms', 'Fin_sqft',
       'Units', 'Bdrms', 'Fbath', 'Hbath', 'Lotsize', 'Sale_date',
       'Sale_price', 'covid_period', 'PropertyID', 'taxkey', 'nbhd', 'Rooms',
       'FinishedSqft'],
      dtype='object')

In [5]:
combined_df.drop(columns=['taxkey', 'Address','PropertyID','Taxkey'], inplace=True)
combined_df.head()

,PropType,CondoProject,District,Nbhd,Style,Extwall,Stories,Year_Built,Nr_of_rms,Fin_sqft,...,Bdrms,Fbath,Hbath,Lotsize,Sale_date,Sale_price,covid_period,nbhd,Rooms,FinishedSqft
0,Commercial,NaN,6.0,6258.0,Commercial Exempt,NaN,2.0,1880.0,0.0,1840.0,...,0.0,0.0,0.0,12750,2002-01,15900,no,NaN,NaN,NaN
1,Commercial,NaN,3.0,6262.0,Mansions With Commercial Usage,NaN,2.0,1876.0,0.0,6377.0,...,0.0,0.0,0.0,11840,2002-01,850000,no,NaN,NaN,NaN
2,Commercial,NaN,10.0,6272.0,Service Building,NaN,1.0,1954.0,0.0,5022.0,...,0.0,0.0,0.0,9700,2002-01,119000,no,NaN,NaN,NaN
3,Commercial,NaN,1.0,6218.0,"Store Bldg - Multi Story (Store & Apt, Store & O",NaN,2.0,1955.0,0.0,6420.0,...,0.0,0.0,0.0,8792,2002-01,210000,no,NaN,NaN,NaN
4,Commercial,NaN,15.0,6254.0,"Store Bldg - Multi Story (Store & Apt, Store & O",NaN,2.0,1909.0,0.0,5956.0,...,0.0,0.0,0.0,4840,2002-01,48500,no,NaN,NaN,NaN

In [6]:
na_percentage = combined_df.isna().mean()
columns_to_keep = na_percentage <= 0.30
filtered_df = combined_df.loc[:, columns_to_keep]
filtered_df.columns

Index(['PropType', 'District', 'Style', 'Extwall', 'Stories', 'Year_Built',
       'Units', 'Bdrms', 'Fbath', 'Hbath', 'Lotsize', 'Sale_date',
       'Sale_price', 'covid_period'],
      dtype='object')

In [7]:
filtered_df.head()

,PropType,District,Style,Extwall,Stories,Year_Built,Units,Bdrms,Fbath,Hbath,Lotsize,Sale_date,Sale_price,covid_period
0,Commercial,6.0,Commercial Exempt,NaN,2.0,1880.0,1.0,0.0,0.0,0.0,12750,2002-01,15900,no
1,Commercial,3.0,Mansions With Commercial Usage,NaN,2.0,1876.0,1.0,0.0,0.0,0.0,11840,2002-01,850000,no
2,Commercial,10.0,Service Building,NaN,1.0,1954.0,1.0,0.0,0.0,0.0,9700,2002-01,119000,no
3,Commercial,1.0,"Store Bldg - Multi Story (Store & Apt, Store & O",NaN,2.0,1955.0,1.0,0.0,0.0,0.0,8792,2002-01,210000,no
4,Commercial,15.0,"Store Bldg - Multi Story (Store & Apt, Store & O",NaN,2.0,1909.0,1.0,0.0,0.0,0.0,4840,2002-01,48500,no

In [8]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60743 entries, 0 to 60742
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PropType      60730 non-null  object
 1   District      60739 non-null  float64
 2   Style         60667 non-null  object
 3   Extwall       47272 non-null  object
 4   Stories       60612 non-null  float64
 5   Year_Built    60699 non-null  float64
 6   Units         60741 non-null  float64
 7   Bdrms         59471 non-null  float64
 8   Fbath         60086 non-null  float64
 9   Hbath         55901 non-null  float64
 10  Lotsize       60740 non-null  object
 11  Sale_date     60741 non-null  object
 12  Sale_price    60731 non-null  object
 13  covid_period  60743 non-null  object
dtypes: float64(7), object(7)
memory usage: 6.5+ MB

In [9]:
def filter_out_cate(df,column):
    if len(filtered_df[column].unique())>10:
        print('column needs to be removed')
    else:
        print('column does not need to be removed')

In [10]:
cols=['Style','Extwall']

for col in cols:
    filter_out_cate(filtered_df,col)

column needs to be removed
column needs to be removed

In [11]:
filtered_df.drop(columns=cols, inplace=True)
filtered_df.head()

/var/folders/fc/2czwg5s15mvc98ksz0lc2bz80000gn/T/ipykernel_7391/4011096178.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.drop(columns=cols, inplace=True)

,PropType,District,Stories,Year_Built,Units,Bdrms,Fbath,Hbath,Lotsize,Sale_date,Sale_price,covid_period
0,Commercial,6.0,2.0,1880.0,1.0,0.0,0.0,0.0,12750,2002-01,15900,no
1,Commercial,3.0,2.0,1876.0,1.0,0.0,0.0,0.0,11840,2002-01,850000,no
2,Commercial,10.0,1.0,1954.0,1.0,0.0,0.0,0.0,9700,2002-01,119000,no
3,Commercial,1.0,2.0,1955.0,1.0,0.0,0.0,0.0,8792,2002-01,210000,no
4,Commercial,15.0,2.0,1909.0,1.0,0.0,0.0,0.0,4840,2002-01,48500,no

In [12]:
residential_df = filtered_df.loc[filtered_df['PropType'] == 'Residential']

In [13]:
len(residential_df)

45635

In [14]:
residential_df.drop(columns=['PropType'], inplace=True)

/var/folders/fc/2czwg5s15mvc98ksz0lc2bz80000gn/T/ipykernel_7391/1723802993.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  residential_df.drop(columns=['PropType'], inplace=True)

In [17]:
residential_df = residential_df.dropna(subset=['Year_Built', 'Sale_price', 'Sale_date'])
residential_df['Sale_date'] = pd.to_datetime(residential_df['Sale_date'])
residential_df['Lotsize'] = residential_df['Lotsize'].str.replace(',', '').astype(float)
residential_df = pd.get_dummies(residential_df, columns=['covid_period'])
for col in ['District', 'Stories', 'Units', 'Bdrms', 'Fbath', 'Hbath', 'Lotsize']:
    residential_df[col] = residential_df[col].fillna(residential_df[col].median())

In [16]:
residential_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45635 entries, 10 to 60736
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   District      45634 non-null  float64
 1   Stories       45617 non-null  float64
 2   Year_Built    45617 non-null  float64
 3   Units         45635 non-null  float64
 4   Bdrms         45536 non-null  float64
 5   Fbath         45625 non-null  float64
 6   Hbath         42025 non-null  float64
 7   Lotsize       45635 non-null  object
 8   Sale_date     45635 non-null  object
 9   Sale_price    45627 non-null  object
 10  covid_period  45635 non-null  object
dtypes: float64(7), object(4)
memory usage: 4.2+ MB

In [18]:
residential_df.head()

,District,Stories,Year_Built,Units,Bdrms,Fbath,Hbath,Lotsize,Sale_date,Sale_price,covid_period_no,covid_period_yes
10,7.0,2.0,1913.0,4.0,9.0,1.0,0.0,5280.0,2002-02-01,42000,1,0
51,3.0,2.0,1897.0,4.0,2.0,2.0,0.0,5280.0,2002-05-01,145000,1,0
67,4.0,2.0,1907.0,6.0,0.0,1.0,0.0,5280.0,2002-06-01,30000,1,0
116,4.0,2.0,1890.0,4.0,4.0,1.0,0.0,5280.0,2002-10-01,66500,1,0
134,4.0,2.5,1891.0,2.0,7.0,6.0,0.0,5280.0,2002-11-01,150500,1,0

## Preliminary data visulization